@import "../../assets/sass/_app-variables";
@import "../../assets/sass/_general-style";

.editor, .mce-container, .mce-panel {
    font-family: $body-font-family !important;
    background-color: $body-background-color !important;
    @include general;

    .container{
        width: 100% !important;
    }
    img{
        max-width: 100% !important;
    }

    &.mdl-textfield{
        padding-top: 40px;
        background: transparent !important;

        &.mdl-textfield--floating-label.is-focused .mdl-textfield__label, &.mdl-textfield--floating-label.is-dirty .mdl-textfield__label, &.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
            color: rgba(0,0,0,.26);
            font-size: 16px;
            top: 4px;
            visibility: visible;
        }
    }

    .mce-object-iframe{
        width: 100%;
    }
}

.editor:not(.ge-editing){
    section{
        padding: 25px 0 25px 0 !important;
    }
}