@media print{
    @-moz-document url-prefix() {       
        * {
            color: black !important;
        }
    }
    *, html, body{
        -webkit-print-color-adjust:exact;
    }
    html, body{
        width: 1024px;
    }
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
            float: left;
    }
    .col-md-12 {
            width: 100%;
    }
    .col-md-11 {
            width: 91.66666667%;
    }
    .col-md-10 {
            width: 83.33333333%;
    }
    .col-md-9 {
            width: 75%;
    }
    .col-md-8 {
            width: 66.66666667%;
    }
    .col-md-7 {
            width: 58.33333333%;
    }
    .col-md-6 {
            width: 50%;
    }
    .col-md-5 {
            width: 41.66666667%;
    }
    .col-md-4 {
            width: 33.33333333%;
    }
    .col-md-3 {
            width: 25%;
    }
    .col-md-2 {
            width: 16.66666667%;
    }
    .col-md-1 {
            width: 8.33333333%;
    }
    .container, .container-fluid{
        widows: 100% !important;
    }

    header{

        .pre-menu{
            .pre-menu-links{
                .content{
                    display: inline-block !important;
                }
            }
            .pre-menu-brand{
                .container{
                    &>div{
                        width: initial;
                    }
                }
                .logo{
                    img{
                        width: auto;
                    }
                }
            }
        }
        .navbar{
            .collapse{
                display: inline-block !important;
                width: 100% !important;
                .navbar-nav{
                    width: 100% !important;
                    li{
                        display: inline-block !important;
                    }
                }
            }
        }

        .navbar-toggle {
            display: none;
        }
    }

    footer{
        .list{
            width: 25% !important;
        }
    }



    .home{
        .works .work{
            &.pro {
                text-align: right;
            }
            ul.right li:before {
                left: auto;
                right: -20px;
            }
        }   
    } 
}




